/pip-log.txt
/ve/*
/tmp/*
/logs/*
*.pyc
dropin.cache
*.swp
*.pid
/_trial_temp/*
*.log
/environments/*
.DS_Store
.vagrant
/utils/smppsim/
/docs/_build/*
/build/*
/dist/*
*.egg-info
/.coverage
/.coverage-results/
/htmlcov/
/coverage-html/
.ftclient_authtoken
/coverage.xml
/test_results.xml
/django_test_results.xml
/pep8.txt
/.tox
/.hypothesis
