# Source distribution files.
include .coveragerc
include AUTHORS
include LICENSE
include README.rst
include Vagrantfile
include logs/README tmp/pids/README
include requirements.pip requirements-dev.pip
include setup.py
include tox.ini

recursive-include config *
recursive-include docs *
prune docs/_build
recursive-include etc *
recursive-include puppet *
recursive-include utils *.sh
recursive-include vumi *.js

# Python package data files.
include twisted/plugins/*.py
include vumi/demos/tests/wikipedia_sample.xml
include vumi/scripts/tests/sample-smpp-output.log
recursive-include vumi/resources *
recursive-include vumi *.xml

# Prune stray bytecode files.
global-exclude *.pyc
