include environments/README
exclude environments/*.py
include environments/template.py
include logs/README
include fab/README
include tmp/pids/README
include config/amqp-spec-0-8.xml
include config/deploying.pip
include config/smpp.yaml
include config/smpp_sim.yaml
include config/smppsim.develop.props
include config/requirements.pip
include config/haproxy.cfg
include twisted/plugins/*.py
include utils/*.sh
include utils/*.py
include puppet/*
include *.rst
exclude *.egg-info/*
recursive-include vumi *.xml
global-exclude _notes/*.xml
