<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Feature Title</title>
</head>

<body>
<div id="close-sign"><a href="#" id="close-signin-link" class="jqmClose">Close</a></div>
<h3>Feature Heading Here</h3>
<img src="http://tctechcrunch.files.wordpress.com/2011/05/tcdisrupt_web-001-1211.jpg" width="250" style="float:right; margin-left: 10px">
<p>Ajax Content. It's no secret that disruptive mobile payments startup Square is growing fast. And today, CEO Jack Dorsey revealed a few more milestones for the company—500,000 Square card readers shipped, 1 million Square transactions in May, and as we reported over the weekend the startup is now processing <a href="http://techcrunch.com/2011/05/21/square-3-million-day/">$3 million</a> in mobile payments per day. </p>
<p>Fresh off  <a href="http://techcrunch.com/2011/01/10/sequoia-leads-27-5-million-round-in-mobile-payments-startup-square/">$27.5 million</a> in new funding, and a <a href="http://techcrunch.com/2011/04/27/visa-makes-a-strategic-investment-in-disruptive-mobile-payments-startup-square/">strategic investment </a> from credit card company Visa, Square is pushing the envelope when its comes to mobile and now local payments. </p>
<p>And with the massive growth in merchants adopting Square, is now in track to process $1 billion in payment volume within a year. </p>
<p>Armstrong and Arrington touched on a variety of subjects, including AOL’s agressive content strategy. While AOL’s content has remained free, Armstrong does seem to think that a paid content model can work. “It’s a matter of how you do it…but I’m a long term believer in paid content as a strategy.” As he cautions, AOL’s news content doesn’t have a price right now, and Armstrong didn’t reveal any future plans for a paywall but it’s certainly interesting to see that he isn’t totally against the strategy. </p>
</body>
</html>
