<!DOCTYPE html> 
<html> 
	<head> 
	<title>Vumi</title> 
    <meta name="Author" content="Praekelt Foundation">
	<meta name="Description" content="Vumi is a super-scalable conversation engine for the delivery of SMS, Star Menu and chat messages to diverse audiences. It's the most effective way to start and manage mobile conversations.">
	<meta property="og:title" content="Vumi" />
	<meta property="og:description" content="Vumi is a super-scalable conversation engine for the delivery of SMS, Star Menu and chat messages to diverse audiences. It's the most effective way to start and manage mobile conversations.">
	<meta property="og:image" content="pics/og/logo.png">
    <link rel="apple-touch-icon" href="pics/ico/apple-touch-icon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="pics/ico/favicon.ico" />
	<link rel="icon" type="image/gif" href="pics/ico/favicon.gif" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    <link rel="stylesheet" href="css/mobile.css">
</head> 
<body> 

<div data-role="page" data-theme="c" class="custom-page">

	<!--<div data-role="header"></div>--><!-- /header -->

	<div data-role="content">	
		
        <div id="logo"><img src="pics/logo.png"></div>
        
        <div id="strap-line">A super-scalable<br><span class="lite">conversation engine</span><br><span class="small">for the delivery of SMS, star menu and chat messages.</span></div>

		<h2 class="customh2">Coming Soon! Sign up for updates:</h2>
        
        <form id="signup" name="signup" action="process.html" method="post" data-ajax="false">    
                <div class="inner">
        			<label for="email" id="signup-label-email">Email Address:</label>
        			<input type="email" id="signup-input-email" class="txtbox required email" name="email" autocomplete="off">
        			<input type="submit" name="submit" class="btn" value="sign up">
                </div>
        </form>
        
        
        <h2 class="customh2">Vumi Features</h2>
        
        <div data-role="collapsible-set"> 
			<div data-role="collapsible" data-collapsed="true"> 
				<h3>Super-scalable</h3> 
				<p>I'm the collapsible content. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p> 
			</div> 
			<div data-role="collapsible" data-collapsed="true"> 
				<h3>Multiple territories</h3> 
				<p>I'm the collapsible content. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p> 
			</div> 
			<div data-role="collapsible" data-collapsed="true"> 
				<h3>Multiple applications</h3> 
				<p>I'm the collapsible content. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p> 
			</div>
            <div data-role="collapsible" data-collapsed="true"> 
				<h3>Open source</h3> 
				<p>I'm the collapsible content. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p> 
			</div>
            <div data-role="collapsible" data-collapsed="true"> 
				<h3>Easy integration</h3> 
				<p>I'm the collapsible content. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p> 
			</div>
            <div data-role="collapsible" data-collapsed="true"> 
				<h3>Economies of scale</h3> 
				<p>I'm the collapsible content. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.</p> 
			</div> 
		</div> 
        
        
        
	</div><!-- /content -->

	<div data-role="footer">
    	<div id="contact"><div class="social"><a href="http://twitter.com/vumiapp"><img src="pics/tw.png" align="top"></a></div>Contact us: <a href="mailto:hello@vumi.org?subject=Hello">hello@vumi.org</a> </div>
    	<div id="developers">
        <span class="smalltxt">Developed by</span>
		<img src="pics/foundation.png">
        </div>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
