<!DOCTYPE html> 
<html> 
	<head> 
	<title>Vumi</title> 
    <meta name="Author" content="Praekelt Foundation">
	<meta name="Description" content="Vumi is a super-scalable conversation engine for the delivery of SMS, Star Menu and chat messages to diverse audiences. It's the most effective way to start and manage mobile conversations.">
	<meta property="og:title" content="Vumi" />
	<meta property="og:description" content="Vumi is a super-scalable conversation engine for the delivery of SMS, Star Menu and chat messages to diverse audiences. It's the most effective way to start and manage mobile conversations.">
	<meta property="og:image" content="{{STATIC_URL}}m/pics/og/logo.png">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}m/pics/ico/apple-touch-icon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}m/pics/ico/favicon.ico" />
	<link rel="icon" type="image/gif" href="{{STATIC_URL}}m/pics/ico/favicon.gif" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}m/css/mobile.css">
</head> 
<body> 

<div data-role="page" data-theme="c" class="custom-page">

	<!--<div data-role="header"></div>--><!-- /header -->

	<div data-role="content">	
		
        <div id="logo"><img src="{{STATIC_URL}}m/pics/logo.png"></div>
        
        <div id="strap-line">A super-scalable<br><span class="lite">conversation engine</span><br><span class="small">for the delivery of SMS, star menu and chat messages.</span></div>

		<h2 class="customh2 thanks">Thanks for signing up. We'll be in touch.</h2>
        
        
        <div data-role="collapsible-set"> 
			<div data-role="collapsible" data-collapsed="true"> 
				<h3>Super-scalable</h3> 
				<p>Vumi is built for scale. It is designed from the ground up for cloud and elastic computing environments allowing you to scale your application horizontally on demand.</p> 
			</div> 
			<div data-role="collapsible" data-collapsed="true"> 
				<h3>Multiple territories</h3> 
				<p>Want to run mobile conversations across multiple territories? Vumi is ready. Connect to multiple networks in various countries all at the same time.</p> 
			</div> 
			<div data-role="collapsible" data-collapsed="true"> 
				<h3>Multiple applications</h3> 
				<p>Different audience, different applications, one platform. Is your target audience on MXit or do they prefer SMS or even USSD? Vumi is ready, it will happily engage in conversations across all.</p> 
			</div>
            <div data-role="collapsible" data-collapsed="true"> 
				<h3>Open source</h3> 
				<p>The source code for Vumi is available under the very liberal BSD license. You can download and run Vumi on your own servers at no cost.</p> 
			</div>
            <div data-role="collapsible" data-collapsed="true"> 
				<h3>Easy integration</h3> 
				<p>Integration with application is a breeze. Vumi's simple web based APIs allow you to extend your existing applications and engage in conversations with your audience.</p> 
			</div>
            <div data-role="collapsible" data-collapsed="true"> 
				<h3>Economies of scale</h3> 
				<p>Vumi scales financially. You can host conversations with a large or small audience and you only pay for the actual messages you send and receive.</p> 
			</div> 
		</div>
        
        
        
	</div><!-- /content -->

	<div data-role="footer">
    	<div id="contact"><div class="social"><a href="http://twitter.com/vumiapp"><img src="{{STATIC_URL}}m/pics/tw.png" align="top"></a></div>Contact us: <a href="mailto:hello@vumi.org?subject=Hello">hello@vumi.org</a> </div>
    	<div id="developers">
        <span class="smalltxt">Developed by</span>
		<img src="{{STATIC_URL}}m/pics/foundation.png">
        </div>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
