<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=960">
<meta name="Author" content="Praekelt Foundation">
<meta name="Description" content="Vumi is a super-scalable conversation engine for the delivery of SMS, Star Menu and chat messages to diverse audiences. It's the most effective way to start and manage mobile conversations.">
<meta property="og:title" content="Vumi" />
<meta property="og:description" content="Vumi is a super-scalable conversation engine for the delivery of SMS, Star Menu and chat messages to diverse audiences. It's the most effective way to start and manage mobile conversations.">
<meta property="og:image" content="pics/og/logo.png">
<meta content="no" http-equiv="imagetoolbar" />
<link rel="apple-touch-icon" href="pics/ico/apple-touch-icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="pics/ico/favicon.ico" />
<link rel="icon" type="image/gif" href="pics/ico/favicon.gif" />
<script src="js/jquery-1.6.1.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jqModal.js" type="text/javascript"></script>
<script src="js/jquery.validate.min.js" type="text/javascript"></script>
<script src="js/custom.js"></script>
<link rel="stylesheet" href="css/screen.css" type="text/css">
<!--[if lt IE 7]>
<link rel="stylesheet" href="css/moveon.css" type="text/css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/ie7.css" type="text/css">
<![endif]-->
<title>Vumi - Help</title>
</head>

<body>
	<div id="container">
    
    	<div id="header">
        	<a href="index.html" id="logo" title="Vumi"></a>
            <ul id="nav">
            	<li><a href="index.html#feature-dl" id="top-nav-features">Features</a></li>
                <li class="active"><a href="support.html">Help</a></li>
                <li><a href="contact.html">Contact</a></li>
				<li><a href="open-source.html">Open Source</a></li>
				<li><a href="http://vumi.posterous.com/" target="_blank">What's New</a></li>
                <li id="li-signin"><a href="#" class="signin" id="top-nav-signin">Sign In</a></li>
            </ul>
       	</div>
        
        <div id="signin">
          <div class="inner">
  
              <form name="sign-in" action="home.html" method="post" id="signin-form">
              
                  <label for="signin-email" id="signin-label-email">Email Address</label>
                  <input type="text" id="signin-input-email" class="txtbox required email" name="signin-email" autocomplete="on">
                  
                  <label for="signin-email" id="signin-label-password">Password</label>
                  <input id="signin-input-password" type="password" name="password" autocomplete="off" class="txtbox password required" />
                  
                  <input type="submit" name="signin" class="btn" value="Sign in">
                  
                  <span><a href="#" id="forgot-click">Forgot your password?</a> <a href="contact.html">Need Help?</a></span>
              </form>
              
              <form name="forgot" id="forgot-form" action="reset-success.html" method="post">
                  
                  <label for="forgot-email" id="forgot-label-email">Email Address</label>
                  <input type="text"  id="forgot-input-email" class="txtbox required email" name="forgot-email" autocomplete="on">
                  
                  <input type="submit" name="submit" value="Reset Password" class="btn send" />
                  
                  <span><a href="#" id="signin-return-click">Return to sign in.</a> <a href="contact.html">Need Help?</a></span>
              
              </form>
              
          </div>
    	</div>
        
        <div id="main" class="sub-main">
        
        	<h2 class="content">Terms and Conditions</h2>
            
            
            <div id="sub-nav">
              <div class="step step-cat">Conversations</div>
              <div class="step"><a href="">Sending a message</a></div>
              <div class="step"><a href="">Monitoring a message</a></div>
              <div class="step"><a href="">Interacting with people</a></div>
              <div class="step step-cat">People &amp; Groups</div>
              <div class="step"><a href="">Uploading Contacts</a></div>
              <div class="step step-cat">Credits</div>
              <div class="step"><a href="">Buying Credits</a></div>
              <div class="step last-step"><a href="">Billing Enquiries</a></div>
            </div>
            
            <div class="content-right">
            
            	<h1>Page Heading goes here</h1>
            	<h4>Sub-Page Heading, if required</h4>
                
                <p class="intro">First Paragraph bolded text. Nam hendrerit nibh eu lorem vestibulum eu luctus est consectetur. Nullam at blandit nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus vehicula dapibus. Curabitur vel tristique est. Morbi auctor dignissim accumsan. Sed vestibulum euismod convallis. Nullam in lectus dui, sed volutpat velit. Duis egestas, velit at eleifend blandit, massa libero pretium metus, quis eleifend odio libero ac nisi.</p>
                
                <h3>Sub Heading</h3>

<p>Proin porttitor cursus urna, sed luctus turpis ultricies sit amet. <a href="#">Nulla laoreet</a>, nisl id eleifend lacinia, tellus elit sollicitudin libero, at bibendum metus felis a nisl. Cras at mi arcu. Vivamus lacinia volutpat augue ac posuere. Proin vitae nisi lacus. Sed eu ante nisl, sit amet luctus turpis. Aliquam venenatis, nisl pretium aliquam iaculis, nibh tortor dapibus massa, sit amet congue sapien elit ut risus. Fusce quis consequat tellus. Vestibulum commodo interdum velit et malesuada. Cras odio turpis, pulvinar eu laoreet in, pharetra ut augue.</p>

<p>Morbi sollicitudin lorem ultrices arcu sollicitudin et posuere turpis laoreet. Praesent semper, mauris eu convallis ultrices, erat lacus ornare tellus, quis pellentesque dui libero sed sem. Nam vulputate, libero nec malesuada lobortis, turpis justo adipiscing ante, non lacinia nulla magna vel dolor. Mauris mollis tincidunt urna ut pellentesque. Donec leo mi, adipiscing in aliquet non, placerat eget mi. Nulla facilisi. Phasellus blandit faucibus blandit. Praesent sem dui, feugiat sit amet dictum quis, faucibus id justo. Donec ipsum felis, eleifend ut commodo bibendum, euismod at dolor. Donec bibendum blandit risus in aliquet. Maecenas varius nibh sed odio tempor eu adipiscing mi convallis. Vivamus eros est, sodales porttitor pulvinar at, dignissim at lacus. Aenean id eros sed orci feugiat accumsan a sit amet nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras congue mollis purus, eu tempor purus facilisis vel.</p>

<p>Mauris suscipit mauris ut tortor rutrum egestas. Aenean justo neque, congue in aliquet nec, euismod vitae libero. Maecenas magna felis, molestie non accumsan sed, porta sit amet nisi. Etiam sit amet neque vel diam aliquam tristique. Sed lobortis mauris eu enim bibendum imperdiet. Vestibulum dapibus, turpis eu ultrices mollis, risus orci eleifend est, eget placerat lacus mauris nec felis. Suspendisse varius faucibus porta. Cras vel viverra elit. Etiam ac ipsum dui. Duis libero felis, gravida sit amet convallis eu, congue dapibus velit. Fusce in nisi et magna euismod malesuada at et lectus. Proin lobortis feugiat consequat. Nulla sed tellus tellus, elementum interdum purus.</p>

<h3>Sub Heading</h3>

<p>Maecenas ac euismod est. Nam ac sem quis justo elementum ultrices. In hac habitasse platea dictumst. Ut porttitor consectetur hendrerit. Suspendisse scelerisque venenatis tincidunt. Nulla quis sagittis orci. Praesent aliquet, erat at ultrices volutpat, magna neque pulvinar massa, non imperdiet justo libero scelerisque arcu. Morbi magna nunc, vestibulum sed elementum nec, consectetur a tellus. Vestibulum elit enim, iaculis at semper dapibus, commodo at augue. Sed suscipit odio vel nisl scelerisque mollis. Fusce vel viverra nisi. Praesent in arcu tortor. Maecenas faucibus laoreet porta. Cras sit amet nunc mauris. Pellentesque bibendum orci id leo ornare cursus in imperdiet metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas feugiat gravida urna id congue. Praesent dolor risus, suscipit id commodo quis, tempus eget mauris. </p>

<h3>Sub Heading</h3>

<p>Proin porttitor cursus urna, sed luctus turpis ultricies sit amet. Nulla laoreet, nisl id eleifend lacinia, tellus elit sollicitudin libero, at bibendum metus felis a nisl. Cras at mi arcu. Vivamus lacinia volutpat augue ac posuere. Proin vitae nisi lacus. Sed eu ante nisl, sit amet luctus turpis. Aliquam venenatis, nisl pretium aliquam iaculis, nibh tortor dapibus massa, sit amet congue sapien elit ut risus. Fusce quis consequat tellus. Vestibulum commodo interdum velit et malesuada. Cras odio turpis, pulvinar eu laoreet in, pharetra ut augue.</p>

<p>Morbi sollicitudin lorem ultrices arcu sollicitudin et posuere turpis laoreet. Praesent semper, mauris eu convallis ultrices, erat lacus ornare tellus, quis pellentesque dui libero sed sem. Nam vulputate, libero nec malesuada lobortis, turpis justo adipiscing ante, non lacinia nulla magna vel dolor. Mauris mollis tincidunt urna ut pellentesque. Donec leo mi, adipiscing in aliquet non, placerat eget mi. Nulla facilisi. Phasellus blandit faucibus blandit. Praesent sem dui, feugiat sit amet dictum quis, faucibus id justo. Donec ipsum felis, eleifend ut commodo bibendum, euismod at dolor. Donec bibendum blandit risus in aliquet. Maecenas varius nibh sed odio tempor eu adipiscing mi convallis. Vivamus eros est, sodales porttitor pulvinar at, dignissim at lacus. Aenean id eros sed orci feugiat accumsan a sit amet nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras congue mollis purus, eu tempor purus facilisis vel</p>

<h3>Sub Heading</h3>

<p>Maecenas ac euismod est. Nam ac sem quis justo elementum ultrices. In hac habitasse platea dictumst. Ut porttitor consectetur hendrerit. Suspendisse scelerisque venenatis tincidunt. Nulla quis sagittis orci. Praesent aliquet, erat at ultrices volutpat, magna neque pulvinar massa, non imperdiet justo libero scelerisque arcu. Morbi magna nunc, vestibulum sed elementum nec, consectetur a tellus. Vestibulum elit enim, iaculis at semper dapibus, commodo at augue. Sed suscipit odio vel nisl scelerisque mollis. Fusce vel viverra nisi. Praesent in arcu tortor. Maecenas faucibus laoreet porta. Cras sit amet nunc mauris. Pellentesque bibendum orci id leo ornare cursus in imperdiet metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas feugiat gravida urna id congue. Praesent dolor risus, suscipit id commodo quis, tempus eget mauris.</p>
            
			</div>
          
        </div>
        
        <div id="footer">Copyright 2011 Praekelt Foundation <a href="terms.html">Terms of Use</a> <a href="contact.html">Contact Us</a></div>
        
    </div>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23127504-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>